/**
  Built by Josiah LaCelle
  January 2022
**/

/* Import font and set variables */
@import url('https://rsms.me/inter/inter.css');

:root {
    --bg: #111;
    --blue: blue;
    --text-color: #fefefe;
    --text-size: 28px;
    --link-size: 23px;
}

/* Change default text selection color */

::-moz-selection {
  background: var(--blue);
}

::selection {
  background: var(--blue);
}

/* Reset margins and padding */

p, a, ul {
    margin: 0;
    padding: 0;
}

/*  */

html, body {
    font-family: Inter UI, sans-serif;
    background-color: var(--bg);
    color: var(--text-color);
    padding: 20px;
}

/* Header Section */

.about {
    max-width: 800px;
    font-weight: medium;
    font-size: var(--text-size);
}

.about p {
    margin-bottom: 40px;
}

.about a {
    color: white;
    text-decoration: underline;
}

.about a:hover {
    color: #888;
    text-decoration-color: #888;
    -webkit-text-decoration-color: #888;
}

/* Project links */
hr {
  height: 1px;
  border: none;
  margin-top: 50px;
  background-color: #222;
}

ul {
  list-style: none;
}

/* Footer links */

.links {
    font-size: var(--link-size);
}

.links a {
    margin-right: 25px;
    margin-bottom: 40px;
    color: rgba(255,255,255,0.5);
    font-weight: 200;
    text-decoration: none;
}

.links   a:hover,
.project a:hover {
    color: white;
}

/* Create basic flexbox for projects */

.flex {
  gap: 50px;
  margin-top: 50px;
  display: flex;
  font-size: var(--text-size);
}

.project {
  flex: 1;
}

.project a {
  color: rgba(255,255,255,0.5);
  font-weight: 200;
  text-decoration: none;
}

/* Change flex to column for small devices */

@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}
